/*
 * Android
 * Por: Leandromeda (Leandro Gaudio Rosa)
 */

div {margin: 0; padding: 0;}
div div {background: #A4CA39; position: relative;}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.android{
	height: 202px; width: 167px;
	
}
.android2{
	height: 202px; width: 167px;
	
}
.android3{
	height: 202px; width: 167px;
	
	
}



/* Cabeça */



.head{
	width: 110px; height: 50px;
	top: 32px;
	border-radius: 55px 55px 0 0;
	-moz-border-radius: 55px 55px 0 0;
	-webkit-border-radius: 55px 55px 0 0;

	-webkit-transition: all 0.1s ease-in;
}
.head2{
	width: 110px; height: 50px;
	top: 32px;
	border-radius: 55px 55px 0 0;
	-moz-border-radius: 55px 55px 0 0;
	-webkit-border-radius: 55px 55px 0 0;
	background-color: #39a8ca;
	-webkit-transition: all 0.1s ease-in;
}
.head3{
	width: 110px; height: 50px;
	top: 32px;
	border-radius: 55px 55px 0 0;
	-moz-border-radius: 55px 55px 0 0;
	-webkit-border-radius: 55px 55px 0 0;
	background-color: pink;
	-webkit-transition: all 0.1s ease-in;
}

.left_eye, .right_eye {
	background: #fff;
	width: 10px; height: 10px;
	position: absolute; top: 21px;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.left_eye {left: 25px;}
.right_eye {right: 25px;}

.left_ant, .right_ant{
	width: 3px; height: 25px;
	position: absolute; top: -17px;
	border-radius: 1.5px;
	-webkit-border-radius: 1.5px;
	-moz-border-radius: 1.5px;
}
.left_ant2, .right_ant2{
	width: 3px; height: 25px;
	position: absolute; top: -17px;
	border-radius: 1.5px;
	-webkit-border-radius: 1.5px;
	-moz-border-radius: 1.5px;
	background-color: #39a8ca;
}
.left_ant3, .right_ant3{
	width: 3px; height: 25px;
	position: absolute; top: -17px;
	border-radius: 1.5px;
	-webkit-border-radius: 1.5px;
	-moz-border-radius: 1.5px;
	background-color: pink;
}

.left_ant {
	left: 25px;
	transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
}
.left_ant2 {
	left: 25px;
	transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	background-color: #39a8ca;
}
.left_ant3 {
	left: 25px;
	transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	background-color: pink;
}

.right_ant {
	right: 25px;
	transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}
.right_ant2 {
	right: 25px;
	transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	background-color: #39a8ca;
}
.right_ant3 {
	right: 25px;
	transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	background-color: pink;
}




/* Corpo */



.body{
	width: 110px; height: 92px;
	top: 35px;
	
	border-radius: 0 0 12.5px 12.5px;
	-webkit-border-radius: 0 0 12.5px 12.5px;
	-moz-border-radius: 0 0 12.5px 12.525px;
}
.body2{
	width: 110px; height: 92px;
	top: 35px;
	background-color: #39a8ca;
	border-radius: 0 0 12.5px 12.5px;
	-webkit-border-radius: 0 0 12.5px 12.5px;
	-moz-border-radius: 0 0 12.5px 12.525px;
}
.body3{
	width: 110px; height: 92px;
	top: 35px;
	background-color: pink;
	border-radius: 0 0 12.5px 12.5px;
	-webkit-border-radius: 0 0 12.5px 12.5px;
	-moz-border-radius: 0 0 12.5px 12.525px;
}

.left_arm, .right_arm, .left_leg, .right_leg {
	width: 25px; position: absolute;
	-webkit-transition: all 0.1s ease-in;
}
.left_arm2, .right_arm2, .left_leg2, .right_leg2 {
	width: 25px; position: absolute;
	-webkit-transition: all 0.1s ease-in;
	background-color: #39a8ca;
}
.left_arm3, .right_arm3, .left_leg3, .right_leg3 {
	width: 25px; position: absolute;
	-webkit-transition: all 0.1s ease-in;
	background-color: pink;
}


.left_arm, .right_arm {
	height: 75px;
	border-radius: 12.5px;
	-moz-border-radius: 12.5px;
	-webkit-border-radius: 12.5px;
}
.left_arm2, .right_arm2 {
	height: 75px;
	border-radius: 12.5px;
	-moz-border-radius: 12.5px;
	-webkit-border-radius: 12.5px;
	background-color: #39a8ca;
}
.left_arm3, .right_arm3 {
	height: 75px;
	border-radius: 12.5px;
	-moz-border-radius: 12.5px;
	-webkit-border-radius: 12.5px;
	background-color: pink;
}

.left_leg, .right_leg {
	height: 40px; top: 91px;
	border-radius: 0 0 12.5px 12.5px;
	-moz-border-radius: 0 0 12.5px 12.5px;
	-webkit-border-radius: 0 0 12.5px 12.5px;
}
.left_leg2, .right_leg2 {
	height: 40px; top: 91px;
	border-radius: 0 0 12.5px 12.5px;
	-moz-border-radius: 0 0 12.5px 12.5px;
	-webkit-border-radius: 0 0 12.5px 12.5px;
	background-color: #39a8ca;
}
.left_leg3, .right_leg3 {
	height: 40px; top: 91px;
	border-radius: 0 0 12.5px 12.5px;
	-moz-border-radius: 0 0 12.5px 12.5px;
	-webkit-border-radius: 0 0 12.5px 12.5px;
	background-color: pink;
}

.left_arm {left: -29px;}
.left_arm2 {left: -29px;background-color: #39a8ca;}
.left_arm3 {left: -29px;background-color: pink;}

.right_arm {right: -29px;}
.right_arm2 {right: -29px;background-color: #39a8ca;}
.right_arm3 {right: -29px;background-color: pink;}

.left_leg {left: 22.5px;}
.left_leg2 {left: 22.5px;background-color: #39a8ca;}
.left_leg3 {left: 22.5px;background-color: pink;}

.right_leg {right: 22.5px;}
.right_leg2 {right: 22.5px;background-color: #39a8ca;}
.right_leg3 {right: 22.5px;background-color: pink;}

.head:hover {
	-webkit-transform: rotate(-5deg) translate(-4px, -8px);
	-transform: rotate(-5deg) translate(-4px, -8px);
	-moz-transform: rotate(-5deg) translate(-4px, -8px);
}
.head2:hover {
	-webkit-transform: rotate(-5deg) translate(-4px, -8px);
	-transform: rotate(-5deg) translate(-4px, -8px);
	-moz-transform: rotate(-5deg) translate(-4px, -8px);
	background-color: #39a8ca;
}
.head3:hover {
	-webkit-transform: rotate(-5deg) translate(-4px, -8px);
	-transform: rotate(-5deg) translate(-4px, -8px);
	-moz-transform: rotate(-5deg) translate(-4px, -8px);
	background-color: pink;
}

.left_arm:hover{
	-webkit-transform: rotate(15deg) translate(-14px, 0);
	-transform: rotate(15deg) translate(-14px, 0);
	-moz-transform: rotate(15deg) translate(-14px, 0);
}
.left_arm2:hover{
	-webkit-transform: rotate(15deg) translate(-14px, 0);
	-transform: rotate(15deg) translate(-14px, 0);
	-moz-transform: rotate(15deg) translate(-14px, 0);
	background-color: #39a8ca;
}
.left_arm3:hover{
	-webkit-transform: rotate(15deg) translate(-14px, 0);
	-transform: rotate(15deg) translate(-14px, 0);
	-moz-transform: rotate(15deg) translate(-14px, 0);
	background-color: pink;
}

.right_arm:hover{
	-webkit-transform: rotate(-30deg) translate(30px, 0);
	-transform: rotate(-30deg) translate(30px, 0);
	-moz-transform: rotate(-30deg) translate(30px, 0);
}
.right_arm2:hover{
	-webkit-transform: rotate(-30deg) translate(30px, 0);
	-transform: rotate(-30deg) translate(30px, 0);
	-moz-transform: rotate(-30deg) translate(30px, 0);
	background-color: #39a8ca;
}
.right_arm3:hover{
	-webkit-transform: rotate(-30deg) translate(30px, 0);
	-transform: rotate(-30deg) translate(30px, 0);
	-moz-transform: rotate(-30deg) translate(30px, 0);
	background-color: pink;
}